<div class="mt-5 jumbotron text-center">
  <h1>Welcome to Simplegram</h1>

  <p class="mt-3">
    Share photos with your friends, without worrying.
  </p>

  <div clas="mt-5">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary mr-3" %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-outline-secondary" %>
  </div>
</div>